/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/


body {
  background-color: #bdc3c7;
  padding: 20px;
}


.profil{
  display:flex;
  flex-direction:column;
  width: 380px;
  background-color: #31363b;
  box-sizing: border-box;
}

.odkazy{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-evenly;
  margin: 0;
  padding: 0;

}

.odkazy a {
  text-decoration: none;
  text-align: center; 
}
.odkazy li {
  list-style: none; /* zrušení odrážek */
}

.portfolio{
width:100%;
text-align:center;
border-top: 1px solid #3f464d;
border-bottom: 1px solid #3f464d; 
}

.portfolio a {
display:block;
padding: 25px;
margin:0;
}

.facebook a, .twitter a {
  display:block;
  padding: 25px;px;
  margin:0;
  }

.facebook, .twitter{
  width:50%;
}
h1,a{
  font-family: 'Schibsted Grotesk', sans-serif;
  color: white;
}
h1{
  text-align:left;
  font-size: 38px;
  
}

.obsah{
  padding:25px;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  color:white;
  text-align: left;
  font-size:20px;
}

.portfolio a:hover {
	background-color: #e74c3c;
}


.facebook a:hover {
	background-color: #3b5998;
  box-sizing:content-box;
}


.twitter a:hover {
	background-color: #1da1f2;
}

.foto{
  width: 100%;
  margin:0;
 position:relative;
}
.logo {
  border-radius:50%;
  background-color: #b92e81;
  margin:0;
  position:absolute;
  left:320px;
  top:280px;
 
}

 
